#left,#right{
  width: 200px;
  height: 100%;
  /* background-color: green; */
  display: inline-block;
  background-image: url(../images/grass.png);
  position: relative;
}
#left .trees_left{
  background-image: url(../images/tree1.png);
  background-size: contain;
  width: 120px;
  height: 120px;
  position: absolute;
  /* bottom: 0; */
  left: 50%;
  margin-left: -60px;
  /* height: 100%; */
}
